

.description-section__component {

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .description-section__headline{
    width: 491px;
    color: #1C2954;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 24px;
  }

  .description-section__description{

   	text-align: justify;
    font-size: 16px;
    line-height: 24px;
    padding-top: 24px;
    padding-bottom: 128px;

    span {
      color: #676E82;
    }
  }

}


@media screen  and (min-width: 668px) and (max-width: 1054px) {
  .description-section__description {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen  and (max-width: 668px) {
  .description-section__description {
    padding-left: 20px;
    padding-right: 20px;
  }
}